<div class="home-page-component">
  <section class="hero-section d-flex">
    <div class="left-container flex-1">
    </div>
    <div class="right-container flex-1 d-flex flex-column justify-content-center">
      <h1>The calm before, during & after the storm</h1>
      <div class="parametric-text">
        <div>Parametric Wind Security</div>
        <div>Powered by <span>WKFC & Riskpulse</span></div>
      </div>
      <div class="d-flex">
        <button
          class="common-blue-button btn mr-5"
          (click)="getQuote()">
          <span class="text-uppercase">GET A QUOTE!</span>
        </button>
        <div class="submit d-flex">
          <input type="text" placeholder="Sign up or inquire!"/>
          <button
            class="common-blue-button btn"
            (click)="submit()">
            <span class="text-uppercase">SUBMIT</span>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="what-is-windshift d-flex justify-content-center">
    <div class="flex-1 d-flex flex-column justify-content-center align-items-end">
      <div class="extra-big-title">What is WindShift?</div>
      <div class="separator-container">
        <div class="line-separator"></div>
      </div>
      <div class="medium-text">WindShift is an emerging type of supplemental windstorm insurance that uses “parametric triggers” for losses, creating a transparent payout process significantly quicker than traditional insurance.</div>
      <div class="medium-text mt-3">If a loss event occurs in your area, you will get paid promptly.</div>
    </div>
    <div class="flex-1 d-flex justify-content-center">
        <img src="assets/images/svg/shield icon.svg" />
    </div>
  </section>
  <section class="promo d-flex justify-content-center">
    <div class="flex-1 d-flex justify-content-center">
      <img src="assets/images/svg/light bulb.svg" />
    </div>
    <div class="flex-1 d-flex flex-column justify-content-center align-items-start">
      <div class="extra-big-title">We promise, no catch.</div>
      <div class="separator-container">
        <div class="line-separator"></div>
      </div>
      <div class="medium-text">As long as triggers are met, it doesn’t matter what caused the losses – You will be paid your pre-defined sum!</div>
      <div class="medium-text mt-3">Better data = better science = better decisions</div>
    </div>
  </section>
  <section class="why-parameteric mt-4 d-flex justify-content-center">
    <div class="section-container d-flex flex-column align-items-start">
      <div class="extra-big-title">Why Parametric Coverage is better?</div>
      <div class="medium-text mt-4">When loss occur… (Named Hurricane Event  (≥74 mph))</div>
      <div class="sub-title mt-4 pt-2 title-blue">WINDSHIFT</div>
      <div class="blue-card mt-3 p-4">
        <div class="step-line">
          <div class="line-separator"></div>
          <div class="circle-container">
            <div class="circle-step">1</div>
            <div class="description">Riskpulse confirms the event with WindShift.</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">2</div>
            <div class="description">Money is automatically deposited into your account.</div>
          </div>
        </div>
      </div>
      <div class="sub-title mt-4">TRADITIONAL</div>
      <div class="blue-card mt-3 p-4 white-card">
        <div class="step-line">
          <div class="line-separator"></div>
          <div class="circle-container">
            <div class="circle-step">1</div>
            <div class="description">Record date of loss</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">2</div>
            <div class="description">Assess and record all damage.</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">3</div>
            <div class="description">Have contractors inspect the damage. Get written estimates.</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">4</div>
            <div class="description">Contact your claims department and submit all the information.</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">5</div>
            <div class="description">Request a visit from an adjuster.</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">6</div>
            <div class="description">Ask your contractor to be present when the damage is inspected.</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">7</div>
            <div class="description">If denied payment, request another evaluation.</div>
          </div>
        </div>
      </div>
      <div class="medium-text mt-4 pt-4 blue-text align-self-center">LEARN MORE > ></div>
    </div>
  </section>
  <section class="backed-data d-flex flex-column justify-content-start align-items-center">
    <div class="w-100 mb-4">
      <img src="assets/images/ilya-pavlov-87438-unsplash.jpg" style="width: 100%; height: 494px;" />
    </div>
    <div class="description d-inline-flex flex-column align-items-start mt-4 pb-2">
      <div class="title mt-4 align-self-center">Backed by data & science experts</div>
      <div class="line-separator align-self-center mt-4"></div>
      <div class="details-text mt-4 pt-2">
        WindShift is powered by Riskpulse to collect, calculate, report, and certify wind speed data.
      </div>
      <div class="details-text mt-4 pt-2">
        We know third-party validation is important in a noisy world. Riskpulse will provide you with the confidence and accountability you need when looking for a wind insurance quote.
      </div>
    </div>
  </section>
  <section class="what-is-risk d-flex flex-column justify-content-start align-items-center">
    <div class="sub-container d-inline-flex flex-column align-items-center justify-content-start mb-4 pb-4">
      <div class="extra-big-title">What is RiskPulse</div>
      <div class="medium-text mt-4 pb-4">
        Riskpulse is a predictive and prescriptive analytics expert that uses cognitive technology to understand and track risks that include
      </div>
    </div>
    <div class="position-relative w-100 d-inline-flex flex-column justify-content-start align-items-center pb-140">
      <div class="blue-angule-bg"></div>
      <div class="sub-container d-inline-flex flex-column align-items-center justify-content-start mb-4">
        <div class="card-container d-inline-flex w-100 align-items-center justify-content-around">
          <div class="white-card d-inline-flex align-items-center flex-column justify-content-start">
            <img src="assets/images/svg/benefit1.svg" />
            <div class="card-content mt-3">Inclement <br/>weather</div>
          </div>
          <div class="white-card d-inline-flex align-items-center flex-column justify-content-start">
            <img src="assets/images/svg/benefit2.svg" />
            <div class="card-content mt-3">Extreme <br/>temperatures</div>
          </div>
          <div class="white-card d-inline-flex align-items-center flex-column justify-content-start">
            <img src="assets/images/svg/benefit3.svg" />
            <div class="card-content mt-3">Social <br/>hazards</div>
          </div>
          <div class="white-card d-inline-flex align-items-center flex-column justify-content-start">
            <img src="assets/images/svg/benefit4.svg" />
            <div class="card-content mt-3">Natural disaster <br/>impact zones</div>
          </div>
          <div class="white-card d-inline-flex align-items-center flex-column justify-content-start">
            <img src="assets/images/svg/benefit5.svg" />
            <div class="card-content mt-3">Infrastructure <br/>outages</div>
          </div>
        </div>
        <div class="sub-title mb-3">Trusted by</div>
        <div class="company-logos d-inline-flex justify-content-between align-items-center mb-1">
          <div class="">
            <img src="assets/images/testimonial_logo/Honda.png" style="width: 101px; height: auto;"/>
          </div>
          <div class="">
            <img src="assets/images/testimonial_logo/711.png" style="width: auto; height: 66px;"/>
          </div>
          <div class="">
            <img src="assets/images/testimonial_logo/Oceaneering.png" style="width: 166px; height: auto;"/>
          </div>
          <div class="">
            <img src="assets/images/testimonial_logo/Speedwell-Weather.png" style="width: 108px; height: auto;"/>
          </div>
        </div>
        <div class="company-logos d-inline-flex justify-content-between align-items-center">
          <div class="">
            <img src="assets/images/testimonial_logo/ross.png" style="width: 96px; height: auto;"/>
          </div>
          <div class="">
            <img src="assets/images/testimonial_logo/Clariant_.png" style="width: 159px; height: auto;"/>
          </div>
          <div class="">
            <img src="assets/images/testimonial_logo/Weis.png" style="width: 112px; height: auto;"/>
          </div>
          <div class="">
            <img src="assets/images/testimonial_logo/millercoors.png" style="width: 116px; height: auto;"/>
          </div>
        </div>
        <div class="sub-title mb-3">Riskpulse & Academia</div>
        <div class="company-logos d-inline-flex justify-content-between align-items-center">
          <div class="">
            <img src="assets/images/testimonial_logo/princeton.png" style="width: 130px; height: auto;"/>
          </div>
          <div class="">
            <img src="assets/images/testimonial_logo/Rutgers_University.png" style="width: 135px; height: auto;"/>
          </div>
          <div class="">
            <img src="assets/images/testimonial_logo/albany.png" style="width: 95px; height: auto;"/>
          </div>
          <div class="">
            <img src="assets/images/testimonial_logo/ocenao.png" style="width: 163px; height: auto;"/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="coverage-section d-flex flex-column justify-content-start align-items-center">
    <div class="extra-big-title text-center">I'm convinced! <br/>How do I get coverage?</div>
    <div class="position-relative w-100 d-inline-flex flex-column justify-content-start align-items-center pb-140">
      <div class="blue-angule-bg">
        <div class="blue-overlay"></div>
      </div>
      <div class="sub-container d-inline-flex flex-column align-items-center justify-content-start mb-4">
        <div class="card-container d-inline-flex w-100 align-items-center justify-content-around">
          <div class="white-card d-inline-flex align-items-start flex-column justify-content-start">
            <div class="card-header">
              <div class="title">Step 1</div>
              <div class="angle-bg"></div>
            </div>
            <div class="card-content mt-4">Purchase a quote by answering a <br/>few simple questions.</div>
            <div class="card-content mt-4">Your location will determine your <br/>premium.</div>
          </div>
          <div class="white-card d-inline-flex align-items-start flex-column justify-content-start">
            <div class="card-header">
              <div class="angle-bg"></div>
              <div class="title">Step 2</div>
            </div>
            <div class="card-content mt-4">Have peace of mind knowing you are covered for your deductible in the event of loss, based on pre-defined terms.</div>
            <div class="card-content mt-4">We already have all the data we need! Our triggers are backed by science and validated by a 3rd party – Riskpulse</div>
          </div>
          <div class="white-card d-inline-flex align-items-start flex-column justify-content-start">
            <div class="card-header">
              <div class="angle-bg"></div>
              <div class="title">Step 3</div>
            </div>
            <div class="card-content mt-4">If an event occurs, you will receive quick payment without dispute. No more waiting for the slow wheels of insurance!</div>
          </div>
        </div>

        <button class="white-button">SIGN ME UP!</button>
      </div>
    </div>
  </section>

  <section class="not-so-fast-section">
    <div class="extra-big-title text-center">Not so fast. I have questions</div>
    <div class="content">
      <div class="d-flex justify-content-center">
        <div class="tiny-blue-box"></div>
        <div class="text-box">
          <div>What is a parametric trigger?</div>
          <div>A parametric trigger is an index based type of insurance that is “triggered” when the index surpasses a predefined value.</div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="tiny-blue-box"></div>
        <div class="text-box">
          <div>What is the index?</div>
          <div>The index varies depending on the type of insurance being sought. In WindShift’s case, it may include localized wind speed calculations, wind speed footprints, or the size of the event and distance from the track, or all three!</div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="tiny-blue-box"></div>
        <div class="text-box">
          <div>How do these triggers get measured?</div>
          <div>Anemometers are instruments that measure the speed of wind, currents, or gases.</div>
        </div>
      </div>
    </div>
  </section>
</div>