<div class="home-page-component">
  <section class="hero-section d-flex">
    <div class="left-container flex-1">
    </div>
    <div class="right-container flex-1 d-flex flex-column justify-content-center">
      <h1>The calm before, during & after the storm</h1>
      <div class="parametric-text">
        <div>Parametric Wind Security</div>
        <div>Powered by <span>WKFC & Riskpulse</span></div>
      </div>
      <div class="d-flex">
        <button
          class="common-blue-button btn mr-5"
          (click)="getQuote()">
          <span class="text-uppercase">GET A QUOTE!</span>
        </button>
        <div class="submit d-flex">
          <input type="text" placeholder="Sign up or inquire!"/>
          <button
            class="common-blue-button btn"
            (click)="submit()">
            <span class="text-uppercase">SUBMIT</span>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="what-is-windshift d-flex justify-content-center">
    <div class="flex-1 d-flex flex-column justify-content-center align-items-end">
      <div class="extra-big-title">What is WindShift?</div>
      <div class="separator-container">
        <div class="line-separator"></div>
      </div>
      <div class="medium-text">WindShift is an emerging type of supplemental windstorm insurance that uses “parametric triggers” for losses, creating a transparent payout process significantly quicker than traditional insurance.</div>
      <div class="medium-text mt-3">If a loss event occurs in your area, you will get paid promptly.</div>
    </div>
    <div class="flex-1 d-flex justify-content-center">
        <img src="assets/images/svg/shield icon.svg" />
    </div>
  </section>
  <section class="promo d-flex justify-content-center">
    <div class="flex-1 d-flex justify-content-center">
      <img src="assets/images/svg/light bulb.svg" />
    </div>
    <div class="flex-1 d-flex flex-column justify-content-center align-items-start">
      <div class="extra-big-title">We promise, no catch.</div>
      <div class="separator-container">
        <div class="line-separator"></div>
      </div>
      <div class="medium-text">As long as triggers are met, it doesn’t matter what caused the losses – You will be paid your pre-defined sum!</div>
      <div class="medium-text mt-3">Better data = better science = better decisions</div>
    </div>
  </section>
  <section class="why-parameteric mt-4 d-flex justify-content-center">
    <div class="section-container d-flex flex-column align-items-start">
      <div class="extra-big-title">Why Parametric Coverage is better?</div>
      <div class="medium-text mt-4">When loss occur… (Named Hurricane Event  (≥74 mph))</div>
      <div class="sub-title mt-4 pt-2 title-blue">WINDSHIFT</div>
      <div class="blue-card mt-3 p-4">
        <div class="step-line">
          <div class="line-separator"></div>
          <div class="circle-container">
            <div class="circle-step">1</div>
            <div class="description">Riskpulse confirms the event with WindShift.</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">2</div>
            <div class="description">Money is automatically deposited into your account.</div>
          </div>
        </div>
      </div>
      <div class="sub-title mt-4">TRADITIONAL</div>
      <div class="blue-card mt-3 p-4 white-card">
        <div class="step-line">
          <div class="line-separator"></div>
          <div class="circle-container">
            <div class="circle-step">1</div>
            <div class="description">Record date of loss</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">2</div>
            <div class="description">Assess and record all damage.</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">3</div>
            <div class="description">Have contractors inspect the damage. Get written estimates.</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">4</div>
            <div class="description">Contact your claims department and submit all the information.</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">5</div>
            <div class="description">Request a visit from an adjuster.</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">6</div>
            <div class="description">Ask your contractor to be present when the damage is inspected.</div>
          </div>
          <div class="circle-container">
            <div class="circle-step">7</div>
            <div class="description">If denied payment, request another evaluation.</div>
          </div>
        </div>
      </div>
      <div class="medium-text mt-4 pt-4 blue-text align-self-center">LEARN MORE > ></div>
    </div>
  </section>
  <section class="backed-data d-flex justify-content-center">
    <div class="description d-inline-flex flex-column align-items-start">
      <div class="title align-self-center">Backed by data & science experts</div>
      <div class="line-separator align-self-center mt-4"></div>
      <div class="details-text mt-4 pt-2">
        WindShift is powered by Riskpulse to collect, calculate, report, and certify wind speed data.
      </div>
      <div class="details-text mt-4 pt-2">
        We know third-party validation is important in a noisy world. Riskpulse will provide you with the confidence and accountability you need when looking for a wind insurance quote.
      </div>
    </div>
  </section>
</div>