@import 'mixins';
@import 'variables';

.footer-component {
  background: linear-gradient(0deg, #003AC0 0%, #0A46CC 100%, #2767F0 100%);
  justify-content: space-evenly;
  height: $footer-height;
  margin-top: 36px;
  padding: 40px;

  .logo {
    max-width: 70px;
    margin-bottom: 27px;
  }

  .title {
    font-family: 'Avenir-Black';
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 27px;
    color: $white;
    margin-bottom: 13px;
  }

  a {
    cursor: pointer;
    font-family: 'Avenir-Medium';
    font-size: 12px;
    line-height: 16px;
    color: #FCFCFC;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  .middle-col {
    margin: 0 80px;
  }
}