<div class="footer-component d-none d-sm-flex">
  <div class="d-flex flex-column">
    <div class="title">WINDSHIFT</div>
    <a routerLink="/home">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/riskpulse">RiskPulse</a>
    <a routerLink="/quote">Quote</a>
    <a routerLink="/faq">FAQ</a>
  </div>
  <div class="d-flex flex-column">
    <div class="title">CONTACT</div>
    <a>Windshift,</a>
    <a>2nd Floor, 1452 E 53rd Street,</a>
    <a>New York City, USA</a>
  </div>
  <div class="d-flex flex-column">
    <div class="title">SOCIAL MEDIA</div>
    <a routerLink="/linkedin">Linkedin</a>
    <a routerLink="/twitter">Twitter</a>
    <a routerLink="/medium">Medium</a>
    <a routerLink="/facebook">Facebook</a>
  </div>
</div>