@font-face {
  font-family: 'Avenir-Black';
  src: url('/assets/fonts/avenir/Avenir-Black-03.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-BlackOblique';
  src: url('/assets/fonts/avenir/Avenir-BlackOblique-04.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('/assets/fonts/avenir/Avenir-Book-01.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-BookOblique';
  src: url('/assets/fonts/avenir/Avenir-BookOblique-02.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('/assets/fonts/avenir/Avenir-Heavy-05.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-HeavyOblique';
  src: url('/assets/fonts/avenir/Avenir-HeavyOblique-06.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-Light';
  src: url('/assets/fonts/avenir/Avenir-Light-07.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-LightOblique';
  src: url('/assets/fonts/avenir/Avenir-LightOblique-08.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('/assets/fonts/avenir/Avenir-Medium-09.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-MediumOblique';
  src: url('/assets/fonts/avenir/Avenir-MediumOblique-10.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-Oblique';
  src: url('/assets/fonts/avenir/Avenir-Oblique-11.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-Roman';
  src: url('/assets/fonts/avenir/Avenir-Roman-12.ttf');
  font-style: normal;
  font-weight: normal;
}